
.header{
    display: flex;
    background-color: black;
    gap: 10px;

}


.but-header{
    padding: 10px;
    border: none;
    color: white;
    background-color: black;
}

.but-header:hover{
    cursor: pointer;
    color: rgb(193, 189, 189);
}